<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="assets/layout/compendium/spell_detail/style.css">

<div class="stat-block">
  <hr class="orange-border"/>
  <div class="section-left">
    <div class="creature-heading">
      <h1 id="spell_name">Divination</h1>
      <h2 id="spell_lvl_school">Level 4, divination (ritual)</h2>
    </div> <!-- spell heading -->
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 600,2.5 0,5"></polyline>
    </svg>
    <div class="top-stats">
      <div class="property-line first">
        <h4>Casting Time:</h4>
        <p id="spell_casting_time">1 action</p>
      </div> <!-- property line -->
      <div class="property-line">
        <h4>Range:</h4>
        <p id="spell_range">Self</p>
      </div> <!-- property line -->
      <div class="property-line">
        <h4>Components:</h4>
        <p id="spell_components">V, S, M (Incense and a sacrificial offering appropriate to your religion, together worth at least 25gp, which the spell consumes.)</p>
      </div> <!-- property line -->
      <div class="property-line last">
        <h4>Duration:</h4>
        <p id="spell_duration">Instantaneous</p>
      </div> <!-- property line -->
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 600,2.5 0,5"></polyline>
      </svg>
      <div id="spell_description">
        <div class="property-line first">
          <p id="monster_dmg_inmunities">Your magic and an offering put you in contact with a god or a god's servants. You ask a single question concerning a specific goal, event, or activity to occur within 7 days. The DM offers a truthful reply. The reply might be a short phrase, a cryptic rhyme, or an omen.</p>
        </div> <!-- property line -->
        <div class="property-line">
          <p id="monster_cond_inmunities">The spell doesn't take into account any possible circumstances that might change the outcome, such as the casting of additional spells or the loss or gain of a companion.</p>
        </div> <!-- property line -->
        <div class="property-line">
          <p id="monster_cond_inmunities">If you cast the spell two or more times before finishing your next long rest, there is a cumulative 25 percent chance for each casting after the first that you get a random reading. The DM makes this roll in secret.</p>
        </div> <!-- property line -->
        <div class="property-line last">
          <h4>At Higher Levels:</h4>
          <p>Nothing</p>
        </div> <!-- property block -->
      </div>
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 600,2.5 0,5"></polyline>
      </svg>
      <div id="spell_clases">
        <div class="property-line first last">
          <h4>Druid</h4>
        </div> <!-- property block -->
      </div>
    </div> <!-- top stats -->
  </div> <!-- section left -->
  <hr class="orange-border bottom" />
</div> <!-- stat block -->
