<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="assets/layout/compendium/class_detail/style.css">

<div class="stat-block">
  <hr class="orange-border" />
  <div class="section-left">
    <div class="creature-heading">
      <h1 id="class_name">Druid</h1>
    </div> <!-- creature heading -->
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 600,2.5 0,5"></polyline>
    </svg>
    <div id="class_hitpoints">
      <div class="property-block">
        <h4>Hit Dice:</h4>
        <p id="class_hit_dice">1D8 per level</p>
      </div> <!-- property block -->
      <div class="property-block">
        <h4>Hit Points at 1st Level:</h4>
        <p id="class_hit_points_1">8 + CON</p>
      </div> <!-- property block -->
      <div class="property-block">
        <h4>Hit Points at Higher Levels:</h4>
        <p id="class_hit_points">1D8 (or 4) + CON per level after the 1st</p>
      </div> <!-- property block -->
    </div>
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 600,2.5 0,5"></polyline>
    </svg>
  </div> <!-- section left -->
  <div class="section-right">
    <div class="actions" id="class_details">
      <div id="class_saving_throws">
        <h3>Saving Throws</h3>
        <div class="property-block">
          <div class="abilities" id="class_saving_throws_values">
            <div class="ability-strength">
              <h4>INT</h4>
            </div>
            <div class="ability-strength">
              <h4>WIS</h4>
            </div>
          </div>
        </div> <!-- property block -->
      </div>
      <div id="class_proficiencies">
        <h3>Proficiencies</h3>
        <div class="property-block">
          <div class="abilities" id="class_proficiencies_known">
            <div class="ability-strength">
              <h4>Light Armor</h4>
            </div>
            <div class="ability-strength">
              <h4>Medium Armor</h4>
            </div>
            <div class="ability-strength">
              <h4>Shields</h4>
            </div>
            <div class="ability-strength">
              <h4>Clubs</h4>
            </div>
            <div class="ability-strength">
              <h4>Daggers</h4>
            </div>
            <div class="ability-strength">
              <h4>Javelins</h4>
            </div>
            <div class="ability-strength">
              <h4>Maces</h4>
            </div>
            <div class="ability-strength">
              <h4>Quarterstaffs</h4>
            </div>
            <div class="ability-strength">
              <h4>Sickles</h4>
            </div>
            <div class="ability-strength">
              <h4>Spears</h4>
            </div>
            <div class="ability-strength">
              <h4>Darts</h4>
            </div>
            <div class="ability-strength">
              <h4>Slings</h4>
            </div>
            <div class="ability-strength">
              <h4>Scimitars</h4>
            </div>
            <div class="ability-strength">
              <h4>Herbalism Kit</h4>
            </div>
            <div class="ability-strength">
              <h4>Saving Throw: INT</h4>
            </div>
            <div class="ability-strength">
              <h4>Saving Throw: WIS</h4>
            </div>
          </div>
          <div class="abilities" id="class_proficiencies_option">
            <hr>
            <h4>Choose 2 from:</h4>
            <hr>
            <div class="ability-strength">
              <h4>Arcana</h4>
            </div>
            <div class="ability-strength">
              <h4>Animal Handling</h4>
            </div>
            <div class="ability-strength">
              <h4>Insight</h4>
            </div>
            <div class="ability-strength">
              <h4>Medicine</h4>
            </div>
            <div class="ability-strength">
              <h4>Nature</h4>
            </div>
            <div class="ability-strength">
              <h4>Perception</h4>
            </div>
            <div class="ability-strength">
              <h4>Religion</h4>
            </div>
            <div class="ability-strength">
              <h4>Survival</h4>
            </div>
          </div>
        </div> <!-- property block -->
      </div>
      <div id="class_equipment">
        <h3>Equipment</h3>
        <div class="property-block" id="class_equipment_items">
          <div class="ability-strength">
            <h4>1 x Leather Armor</h4>
          </div>
          <div class="ability-strength">
            <h4>1 x Explorer's Pack</h4>
          </div>
          <div class="ability-strength">
            <h4>1 x (a) a wooden shield or (b) any simple weapon</h4>
          </div>
          <div class="ability-strength">
            <h4>1 x (a) a scimitar or (b) any simple melee weapon</h4>
          </div>
          <div class="ability-strength">
            <h4>1 x druidic focus</h4>
          </div>
        </div> <!-- property block -->
      </div>
      
      <div id="race_laguages">
        <h3>Languages</h3>
        <div class="property-block">
          <p>You can speak, read, and write Common and Dwarvish. Dwarvish is full of hard consonants and guttural sounds, and those characteristics spill over into whatever other language a dwarf might speak.</p>
        </div> <!-- property block -->
        <div class="abilities" id="race_languages_known">
          <hr>
          <h4>Known</h4>
          <hr>
          <div class="ability-strength">
            <h4>Common</h4>
          </div>
          <div class="ability-strength">
            <h4>Dwarvish</h4>
          </div>
        </div>
        <div class="abilities" id="race_languages_option">
          <hr>
          <h4>Choose 1 from:</h4>
          <hr>
          <div class="ability-strength">
            <h4>Common</h4>
          </div>
          <div class="ability-strength">
            <h4>Dwarvish</h4>
          </div>
        </div>
      </div>
    </div> <!-- details -->
  </div> <!-- section right -->
  <hr class="orange-border bottom" />
</div> <!-- stat block -->
