body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../assets/img/paper_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  height: 100vh;
}

.main_content{
  transform-origin: 0 0;
  position: absolute;
  top: 20px;
  left: 75px;
}

#toolbar{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 5;
  box-shadow: 1px 1px 3px #666;
  background-color: rgba(255, 255, 255, 0.8);
  width: 40px;
}

#toolbar ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#toolbar li {
  width: 100%;
  list-style: none;
  text-align: center;
  line-height: 22px;
  font-size: 18px;
  color: #999;
  padding: 10px 0px;
}

#toolbar li:hover, #toolbar li.active {
  color: #333;
  background-color: #54c3e8;
  cursor: pointer;
}

#chat{
  width: 25%;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(234, 223, 179, 0.7);
  padding: 20px;
}

#messages{
  height: 85%;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 0 10px;
}

#chatControlls{
  flex-grow: 1;
}

#chatInput{
  height: 100%;
  width: 80%;
}

.token_menu{
  position: fixed;
  background-color: rgb(234, 223, 179);
  border-radius: 10px;
}
